<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container" style="font-family:verdana">
      <h1 >Lab 1</h1>
      <p>The Monster Hunter (モンスターハンター Monsutā Hantā?) franchise is a series of fantasy-themed action role-playing video games that started with the game Monster Hunter for PlayStation 2. The series is developed and published by Capcom. As the title suggests, the player takes the role of a hunter in a fantasy environment and completes quests by hunting out specific kinds of monsters to kill or capture. The series has branched out into PlayStation Portable games and a massively multiplayer online game.</p>
    </div>
  </body>
</html>
